# Você pode apagar esta linha se quiser (para o aviso sumir)
version: '3.8' 

services:
  # --- A Aplicação (PHP-FPM) ---
  app:
    image: moisespradobcc/minha-app:latest
    container_name: laravel_app_prod
    restart: unless-stopped
    env_file: .env.prod # Carrega as senhas de produção
    volumes:
      # O volume do Dockerfile, que nomeamos como 'app_code'
      - app_code:/var/www/html

  # --- O Garçom (Nginx) ---
  nginx:
    image: nginx:1.21-alpine
    container_name: nginx_prod
    restart: unless-stopped
    ports:
      - "80:80" # Site rodará em http://localhost
    volumes:
      # Mapeia o arquivo de config
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      # Monta o mesmo volume 'app_code' que o 'app' usa
      - app_code:/var/www/html
    depends_on:
      - app

  # --- O Banco de Dados (MariaDB) ---
  db:
    image: mariadb:10.6
    container_name: mariadb_db_prod
    restart: unless-stopped
    env_file: .env.prod # Carrega as senhas de produção
    volumes:
      - db_prod_data:/var/lib/mysql

# --- DEFINIÇÃO DOS VOLUMES ---
# (O 'app_storage' não está aqui, por isso deu erro antes)
volumes:
  app_code: # O volume compartilhado com o código
  db_prod_data: # O volume do banco de dados de produção